.navbar{
    background-color: #70191c;
}
.offcanvas-header{
    color: #fff;
}
.offcanvas{
    background-color: #54626c;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-form{
    padding: 2rem;
}